@using B_B_App.Components.Dialogs;
@using B_B_ClassLibrary.BusinessModels;
@inject NavigationManager navi
@inject ILoginService _loginService
@inject LoginManager _loginManager
<div class="top-row ps-3 navbar navbar-light" style="height:15%;">
    <div class="container-fluid">
        @if (loggedIn)
        {
            <MudText Color="Color.Info">Welcome @_user.FirstName</MudText>
            <MudButton ButtonType="ButtonType.Button" @onclick="LogOut" Color="Color.Warning">LogOut</MudButton>
        }
        else
        {
            if (loginDialogOpen)
            {
                <LoginDialog User="_user" DialogType="LoginDialog.ModalDialogType.OkCancel" OnClose="loginDialogClose"></LoginDialog>
            }
            <MudText Color="Color.Info">Welcome please login</MudText>

            <MudButton ButtonType="ButtonType.Button" @onclick="Login" Color="Color.Success">LogIn</MudButton>
            <MudButton hidden="@loggedIn" ButtonType="ButtonType.Button" Color="Color.Primary" @onclick="CreateUserRedirect">Opret</MudButton>
        }
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            @if (loggedIn)
            {
                <NavLink class="nav-link" href="/bookings" Match="NavLinkMatch.All">
                    <span class="oi oi-calendar" aria-hidden="true"></span> Bookings
                </NavLink>
                if (_loginManager.IsLandLord())
                {
                    <NavLink class="nav-link" href="/bnbcreator" Match="NavLinkMatch.All">
                        <span class="oi oi-calendar" aria-hidden="true"></span> Bookings
                    </NavLink>
                }
            }
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool loginDialogOpen = false;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool loggedIn = false;
    private User? _user;

    protected override void OnInitialized()
    {
        if (_user == null)
            _user = new User();

        base.OnInitialized();
    }

    private async Task Login()
    {
        if (_user == null)
            _user = new User();

        loginDialogOpen = true;

        return;
    }

    private async Task LogOut()
    {
        loggedIn = false;
        _user = null;
        this.StateHasChanged();
        return;
    }

    private void loginDialogClose(KeyValuePair<bool, User> pair)
    {
        loginDialogOpen = false;

        if (pair.Key)
        {
            loggedIn = true;
        }
        TryLogin();

    }

    private async void TryLogin()
    {
        var response = await _loginService.Login(_user);
        if (response.FirstName != "" && response.FirstName != null)
        {
            _user = response;
            loggedIn = true;
        }
    }

    private void CreateUserRedirect()
    {
        navi.NavigateTo("/createuser");
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
