@page "/"

<PageTitle>Home Page</PageTitle>
<div>
    <div style="text-align:center; border-width:1px;">
        <Lable>UserName
        <InputText @bind-Value="_userName"></InputText>
        </Lable>
        <br />
        <Lable >Password  
        <InputText style="margin:1px 1px 1px 6px" @bind-Value="_password"></InputText>
        </Lable>
    
        <div style="text-align:justify-all; margin:5px 70px 0px 0px">
                <Button style="" @onclick="SignIn">Login</Button>
        </div>

    </div>

    <div>

        <ul>
            @foreach (var room in _rooms)
            {
                 <li>
                     @room.
                 </li>
            }
        </ul>

    </div>

</div>


@code
{
    private string _userName = "";
    private string _password = "";
    private List<string> _rooms = new List<string>();

    protected override void OnInitialized()
    {
        // Load data here
        base.OnInitialized();
    }

    private Task SignIn()
    {
        // Validate username and password here!
        return null;
    }
}