@page "/createBooking"
@using System.ComponentModel
@using System.Reflection
@using B_B_App.Services;
@inject IContractService<Contract> contractService

<h3>NewBooking</h3>

<MudItem xs="15" sm="10">
    <MudForm>

        <MudTextField @bind-Value="_user.FirstName" Label="Indtast fornavn" Placeholder="Fornavn"></MudTextField>

        <MudTextField @bind-Value="_user.LastName" Label="Indtast efternavn" Placeholder="Efternavn"></MudTextField>

        <MudTextField @bind-Value="_user.Email" Label="Indtast email" Placeholder="Email"></MudTextField>

        <MudTextField @bind-Value="_user.PhoneNumber" Label="Indtast telefonnummer" Placeholder="Telefonnummer"></MudTextField>

        <MudTextField @bind-Value="_user.Country" Label="Indtast land" Placeholder="Land"></MudTextField>
    </MudForm>
</MudItem>

@code {
    private User _user = new User();
    private Contract _contract = new Contract();
}
